<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% if session[:user_id] == nil %>
  <h1><a href="/sign-in">Sign-in</a></h1>
  <h1><a href="/sign-up">Sign-up</a></h1>
<% end %>
<% if session[:user_id] != nil %>
  <h1>You're logged in!</h1>
  <h1><a href="/sign-out">Sign-out</a></h1>
  <h1><a href="/posts/new">Create posts</a></h1>
  <h1><a href="/account/edit">Edit your account details</a></h1>
  <h1><a href="/account/delete">Delete your account</a></h1>
  <h1>Your posts:</h1>
  <% @user.posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
<% end %>
<div class="jumbotron">
  <div class="container">
    <br>
    <h2>On-scroll<small> header effects</small></h2>
    <p>    <p>Best viewed <a href="http://bootsnipp.com/iframe/z1Dx8" target="_blank">full screen</a></p>
    <p>??? Mobile dropdown now working... This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <img src="http://i.imgur.com/DLScdiR.jpg" class="img-responsive" alt="bird" />
      <br>
      <p><a class="btn btn-default" href="#" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a>
      </p>
    </div>
  </div>
  <!-- /row -->
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <img src="http://i.imgur.com/DLScdiR.jpg" class="img-responsive" alt="bird" />
        <br>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
      </div>
    </div>
  </div>
</div>
