<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<h1><a href="/sign-in">Sign-in</a></h1>
<br>
<h1><a href="/sign-out">Sign-out</a></h1>
<br>
<h1><a href="/sign-up">Sign-up</a></h1>
<br>
<h1><a href="/post/edit">Create Posts</a></h1>
<br>
<h1>Your posts:</h1>
<br>
