<html>
  <head>
    <title>QuickCuts</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <%= erb :header %>
    <%= yield %>
    <%= erb :footer %>
    <script src="js/boostrap.js"></script>
  </body>
</html>
